<!-- Navbar -->
<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}">StudyBuddy</a>
      <button
        class="navbar-toggler"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <form class="search_form d-flex gap-3 align-items-center" method="GET" action="{% url 'index' %}">
              <i class="fa-solid fa-magnifying-glass"></i>
              <input placeholder="Search..." type="search" name='q' class="form-control" />
            </form>
          </li>
          {% comment %} <li class="hide-bg">
            <a href="{% url 'profile' %}">Profile</a>
          </li> {% endcomment %}
          <li class="hide-bg">
            <a href="edit-{% url 'update-profile' %}">Settings</a>
          </li>
          <li class="hide-bg">
            <a href="{% url 'logout' %}">Logout</a>
          </li>
        </ul>

        {% if request.user.is_authenticated %}
        <div class="dropdown hide-sm">
          <span
            class="dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Welcome, {{request.user.first_name}}
          </span>
          <ul class="dropdown-menu">
            {% comment %} <li>
              <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
            </li> {% endcomment %}
            <li>
              <a class="dropdown-item" href="{% url 'update-profile' %}"
                >Settings</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'update-password' %}"
                >Update Password</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
            </li>
          </ul>
        </div>
        {% else %}
        <a href="{% url 'signin' %}" style="color: white">Login</a>
        {% endif %}
      </div>
    </div>
  </nav>
</header>
