<!-- Navbar -->
<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="index.html">StudyBuddy</a>
      <button
        class="navbar-toggler"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <form class="search_form d-flex gap-3 align-items-center">
              <i class="fa-solid fa-magnifying-glass"></i>
              <input type="text" placeholder="Search..." class="form-control" />
            </form>
          </li>
          <li class="hide-bg">
            <a href="profile.html">Profile</a>
          </li>
          <li class="hide-bg">
            <a href="edit-profile.html">Settings</a>
          </li>
          <li class="hide-bg">
            <a href="login.html">Logout</a>
          </li>
        </ul>

        <div class="dropdown hide-sm">
          <span
            class="dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Welcome Shaheryar
          </span>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="profile.html">Profile</a>
            </li>
            <li>
              <a class="dropdown-item" href="edit-profile.html">Settings</a>
            </li>
            <li>
              <a class="dropdown-item" href="login.html">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
