{% extends "base.html" %}
{% block content %}
<div class="content-body">
  <div class="container">
    <div class="row">
      <!-- Room Form Form -->
      <div class="col-lg-6 m-auto">
        <div class="card form-card">
          <div class="card-body">
            <h3 class="text-center">Create / Update Room</h3>
            <form class="custom_form">
              <div class="mb-2">
                <label>Category</label>
                <select class="form-control">
                  <option>JavaScript</option>
                  <option>ReactJS</option>
                  <option>Python</option>
                  <option>Machine Learning</option>
                  <option>Data Science</option>
                  <option>Web Development</option>
                </select>
              </div>
              <div class="mb-2">
                <label>Name</label>
                <input class="form-control" placeholder="Name" />
              </div>
              <div class="mb-3">
                <label>Detail</label>
                <textarea
                  class="form-control"
                  rows="4"
                  placeholder="Room detail..."
                ></textarea>
              </div>
              <button class="btn btn-primary btn-md w-100">Save Room</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
