{% extends "base.html" %} {% load static %} {% block content %}

<!-- Content -->
<div class="content-body">
  <div class="container">
    <div class="row">
      <!-- Feed -->
      <div class="col-lg-9">
        <!-- Single Feed -->
        <div class="single_feed">
          <!-- Title -->
          <div class="title mb-4">
            <h4>
              {{room.name}}
            </h4>
          </div>

          <!-- Top -->
          <div
            class="listing_meta d-flex justify-content-between align-items-center"
          >
            <div class="user d-flex align-items-center gap-2">
              <img
                src="{% static 'images/avatar.png' %}"
                class="img-fluid"
                alt="avatar"
                width="30px"
              />
              <div>
                <p class="name mb-0">
                  <a href="#">{{room.host.first_name}} {{room.host.last_name}}</a> 
                </p>
                <p class="info mb-0">1 hour ago</p>
              </div>
            </div>
            <div class="time">{{room.created_at|timesince}} ago</div>
          </div>

          <!-- Detail -->
          <div class="detail">
            <p class="mb-0">{{room.description}}</p>
          </div>

          <!-- Message Box -->
          <div class="messageBox">
            <div class="messages">
             {% if messages.count > 0 %}
             {% for m in messages %}
              <!-- Single Message -->
              <div class="single_message">
                <div class="user d-flex align-items-center gap-2">
                  <img
                    src="{% static 'images/avatar.png' %}"
                    class="img-fluid"
                    alt="avatar"
                    width="30px"
                  />
                  <div>
                    <p class="name mb-0"><a href="#">{{m.user.first_name}}</a></p>
                    <p class="info mb-0">{{m.created_at|timesince}}</p>
                  </div>
                </div>
                <p class="message mb-0">
                  {{m.body}}
                </p>
              </div>
             {% endfor %}
             {% else %}
             <p>No messages found.</p>
             {% endif %}

            </div>

            <!-- Form -->
            {% if request.user.is_authenticated %}
            <form method="POSt">
              {% csrf_token %}
              <input name="body" class="form-control" placeholder="Enter your message..." />
              <small>You can join room by commenting</small>
            </form>
            {% endif %}
          </div>
        </div>
      </div>

      <!-- Recent Activity -->
      <div class="col-lg-3">
        <div class="activity">
          <h5>Participants</h5>

          <!-- Single Activity -->
          <div class="single_activity my-3">
            <div class="card">
              <div class="card-body">
                <div
                  class="listing_meta d-flex justify-content-between flex-column mb-0"
                >
               {% if participants.count > 0 %}
               {% for p in participants %}
               <!-- Single Participant -->
               <div class="user d-flex align-items-center gap-2 mb-3">
                 <img
                   src="{% static 'images/avatar.png' %}"
                   class="img-fluid"
                   alt="avatar"
                   width="30px"
                 />
                 <div>
                   <p class="name mb-0"><a href="#">{{p.first_name}}</a></p>
                   <p class="info mb-0">1 hour ago</p>
                 </div>
               </div>
             {% endfor %}
               {% else %}
               <p class="mb-0">This room has no participants</p>
               {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
