{% extends "base.html" %} {% load static %} {% block content %}

<!-- Content -->
<div class="content-body">
  <div class="container">
    <div class="row">
      <!-- Feed -->
      <div class="col-lg-9">
        <!-- Single Feed -->
        <div class="single_feed">
          <!-- Title -->
          <div class="title mb-4">
            <h4>
              <a href="single-room.html">VueJS Developers Assemble</a>
            </h4>
          </div>

          <!-- Top -->
          <div
            class="listing_meta d-flex justify-content-between align-items-center"
          >
            <div class="user d-flex align-items-center gap-2">
              <img
                src="{% static 'images/avatar.png' %}"
                class="img-fluid"
                alt="avatar"
                width="30px"
              />
              <div>
                <p class="name mb-0">
                  <a href="{% url 'profile' %}">@JohnWick</a>
                </p>
                <p class="info mb-0">1 hour ago</p>
              </div>
            </div>
            <div class="time">25 minutes ago</div>
          </div>

          <!-- Detail -->
          <div class="detail">
            <p class="mb-0">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
              explicabo veritatis cumque error est ipsam vel eos perferendis hic
              autem maxime quia omnis pariatur corrupti, blanditiis fuga?
              Corporis, exercitationem odio!
            </p>
          </div>

          <!-- Message Box -->
          <div class="messageBox">
            <div class="messages">
              <!-- Single Message -->
              <div class="single_message">
                <div class="user d-flex align-items-center gap-2">
                  <img
                    src="{% static 'images/avatar.png' %}"
                    class="img-fluid"
                    alt="avatar"
                    width="30px"
                  />
                  <div>
                    <p class="name mb-0"><a href="#">@JohnWick</a></p>
                    <p class="info mb-0">1 hour ago</p>
                  </div>
                </div>
                <p class="message mb-0">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Necessitatibus nam at praesentium provident optio ullam
                  accusantium! Quasi voluptatum corrupti hic dolorem suscipit?
                  Itaque aspernatur quas culpa quasi numquam alias enim?
                </p>
              </div>

              <!-- Single Message -->
              <div class="single_message">
                <div class="user d-flex align-items-center gap-2">
                  <img
                    src="{% static 'images/avatar.png' %}"
                    class="img-fluid"
                    alt="avatar"
                    width="30px"
                  />
                  <div>
                    <p class="name mb-0"><a href="#">@JohnWick</a></p>
                    <p class="info mb-0">1 hour ago</p>
                  </div>
                </div>
                <p class="message mb-0">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Necessitatibus nam at praesentium provident optio ullam
                  accusantium! Quasi voluptatum corrupti hic dolorem suscipit?
                  Itaque aspernatur quas culpa quasi numquam alias enim?
                </p>
              </div>

              <!-- Single Message -->
              <div class="single_message">
                <div class="user d-flex align-items-center gap-2">
                  <img
                    src="{% static 'images/avatar.png' %}"
                    class="img-fluid"
                    alt="avatar"
                    width="30px"
                  />
                  <div>
                    <p class="name mb-0"><a href="#">@JohnWick</a></p>
                    <p class="info mb-0">1 hour ago</p>
                  </div>
                </div>
                <p class="message mb-0">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Necessitatibus nam at praesentium provident optio ullam
                  accusantium! Quasi voluptatum corrupti hic dolorem suscipit?
                  Itaque aspernatur quas culpa quasi numquam alias enim?
                </p>
              </div>

              <!-- Single Message -->
              <div class="single_message">
                <div class="user d-flex align-items-center gap-2">
                  <img
                    src="{% static 'images/avatar.png' %}"
                    class="img-fluid"
                    alt="avatar"
                    width="30px"
                  />
                  <div>
                    <p class="name mb-0"><a href="#">@JohnWick</a></p>
                    <p class="info mb-0">1 hour ago</p>
                  </div>
                </div>
                <p class="message mb-0">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Necessitatibus nam at praesentium provident optio ullam
                  accusantium! Quasi voluptatum corrupti hic dolorem suscipit?
                  Itaque aspernatur quas culpa quasi numquam alias enim?
                </p>
              </div>

              <!-- Single Message -->
              <div class="single_message">
                <div class="user d-flex align-items-center gap-2">
                  <img
                    src="{% static 'images/avatar.png' %}"
                    class="img-fluid"
                    alt="avatar"
                    width="30px"
                  />
                  <div>
                    <p class="name mb-0"><a href="#">@JohnWick</a></p>
                    <p class="info mb-0">1 hour ago</p>
                  </div>
                </div>
                <p class="message mb-0">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Necessitatibus nam at praesentium provident optio ullam
                  accusantium! Quasi voluptatum corrupti hic dolorem suscipit?
                  Itaque aspernatur quas culpa quasi numquam alias enim?
                </p>
              </div>

              <!-- Single Message -->
              <div class="single_message">
                <div class="user d-flex align-items-center gap-2">
                  <img
                    src="{% static 'images/avatar.png' %}"
                    class="img-fluid"
                    alt="avatar"
                    width="30px"
                  />
                  <div>
                    <p class="name mb-0"><a href="#">@JohnWick</a></p>
                    <p class="info mb-0">1 hour ago</p>
                  </div>
                </div>
                <p class="message mb-0">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Necessitatibus nam at praesentium provident optio ullam
                  accusantium! Quasi voluptatum corrupti hic dolorem suscipit?
                  Itaque aspernatur quas culpa quasi numquam alias enim?
                </p>
              </div>

              <!-- Single Message -->
              <div class="single_message">
                <div class="user d-flex align-items-center gap-2">
                  <img
                    src="{% static 'images/avatar.png' %}"
                    class="img-fluid"
                    alt="avatar"
                    width="30px"
                  />
                  <div>
                    <p class="name mb-0"><a href="#">@JohnWick</a></p>
                    <p class="info mb-0">1 hour ago</p>
                  </div>
                </div>
                <p class="message mb-0">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Necessitatibus nam at praesentium provident optio ullam
                  accusantium! Quasi voluptatum corrupti hic dolorem suscipit?
                  Itaque aspernatur quas culpa quasi numquam alias enim?
                </p>
              </div>

              <!-- Single Message -->
              <div class="single_message">
                <div class="user d-flex align-items-center gap-2">
                  <img
                    src="{% static 'images/avatar.png' %}"
                    class="img-fluid"
                    alt="avatar"
                    width="30px"
                  />
                  <div>
                    <p class="name mb-0"><a href="#">@JohnWick</a></p>
                    <p class="info mb-0">1 hour ago</p>
                  </div>
                </div>
                <p class="message mb-0">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Necessitatibus nam at praesentium provident optio ullam
                  accusantium! Quasi voluptatum corrupti hic dolorem suscipit?
                  Itaque aspernatur quas culpa quasi numquam alias enim?
                </p>
              </div>

              <!-- Single Message -->
              <div class="single_message">
                <div class="user d-flex align-items-center gap-2">
                  <img
                    src="{% static 'images/avatar.png' %}"
                    class="img-fluid"
                    alt="avatar"
                    width="30px"
                  />
                  <div>
                    <p class="name mb-0"><a href="#">@JohnWick</a></p>
                    <p class="info mb-0">1 hour ago</p>
                  </div>
                </div>
                <p class="message mb-0">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Necessitatibus nam at praesentium provident optio ullam
                  accusantium! Quasi voluptatum corrupti hic dolorem suscipit?
                  Itaque aspernatur quas culpa quasi numquam alias enim?
                </p>
              </div>
            </div>

            <!-- Form -->
            <form>
              <input class="form-control" placeholder="Enter your message..." />
            </form>
          </div>
        </div>
      </div>

      <!-- Recent Activity -->
      <div class="col-lg-3">
        <div class="activity">
          <h5>Participants</h5>

          <!-- Single Activity -->
          <div class="single_activity my-3">
            <div class="card">
              <div class="card-body">
                <div
                  class="listing_meta d-flex justify-content-between flex-column mb-0"
                >
                  <!-- Single Participant -->
                  <div class="user d-flex align-items-center gap-2 mb-3">
                    <img
                      src="{% static 'images/avatar.png' %}"
                      class="img-fluid"
                      alt="avatar"
                      width="30px"
                    />
                    <div>
                      <p class="name mb-0"><a href="#">@JohnWick</a></p>
                      <p class="info mb-0">1 hour ago</p>
                    </div>
                  </div>

                  <!-- Single Participant -->
                  <div class="user d-flex align-items-center gap-2 mb-3">
                    <img
                      src="{% static 'images/avatar.png' %}"
                      class="img-fluid"
                      alt="avatar"
                      width="30px"
                    />
                    <div>
                      <p class="name mb-0"><a href="#">@JohnWick</a></p>
                      <p class="info mb-0">1 hour ago</p>
                    </div>
                  </div>
                  <!-- Single Participant -->
                  <div class="user d-flex align-items-center gap-2">
                    <img
                      src="{% static 'images/avatar.png' %}"
                      class="img-fluid"
                      alt="avatar"
                      width="30px"
                    />
                    <div>
                      <p class="name mb-0"><a href="#">@JohnWick</a></p>
                      <p class="info mb-0">1 hour ago</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
